<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zomyun.erp.boss.auth.mapper.AppWhiteListMapper">
    <resultMap id="BaseResultMap" type="com.zomyun.erp.boss.auth.entity.AppWhiteListEntity">
            <result column="id" jdbcType="INTEGER" property="id" />
            <result column="status" jdbcType="BIT" property="status" />
            <result column="app_code" jdbcType="VARCHAR" property="appCode" />
            <result column="app_id" jdbcType="INTEGER" property="appId" />
            <result column="global_type" jdbcType="BIT" property="globalType" />
            <result column="desc" jdbcType="VARCHAR" property="desc" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
     `id`,`status`,`app_code`,`app_id`,`global_type`,`desc`,`create_time`,`update_time`
    </sql>

    <sql id="limit">
        <if test='offset != 0 and limit != 0'>
            limit #{offset}, #{limit}
        </if>

        <if test='offset == 0 and limit != 0'>
            limit #{limit}
        </if>
    </sql>

    <sql id="queryWhere">
        <where>
              <if test="id != null">
                  and `id` = #{id}
              </if>
              <if test="status != null">
                  and `status` = #{status}
              </if>
              <if test="appCode != null">
                  and `app_code` = #{appCode}
              </if>
              <if test="appId != null">
                  and `app_id` = #{appId}
              </if>
              <if test="globalType != null">
                  and `global_type` = #{globalType}
              </if>
              <if test="desc != null">
                  and `desc` = #{desc}
              </if>
              <if test="createTime != null">
                  and `create_time` = #{createTime}
              </if>
              <if test="updateTime != null">
                  and `update_time` = #{updateTime}
              </if>
        </where>
    </sql>

    <select id="selectByParam" parameterType="com.zomyun.erp.boss.auth.param.AppWhiteListParam" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from a_app_white_list
        <include refid="queryWhere" />
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="orderByClause == null">
            order by id desc
        </if>
        <include refid="limit" />
    </select>

    <select id="countByParam" resultType="java.lang.Long">
        SELECT count(*)
        from a_app_white_list
        <include refid="queryWhere"/>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from a_app_white_list
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey">
        delete from a_app_white_list
        where id = #{id}
    </delete>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO a_app_white_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
              <if test="status != null">
                  `status`,
             </if>
              <if test="appCode != null">
                  `app_code`,
             </if>
              <if test="appId != null">
                  `app_id`,
             </if>
              <if test="globalType != null">
                  `global_type`,
             </if>
              <if test="desc != null">
                  `desc`,
             </if>
              <if test="createTime != null">
                  `create_time`,
             </if>
              <if test="updateTime != null">
                  `update_time`,
             </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
              <if test="status != null">
                 #{status},
              </if>
              <if test="appCode != null">
                 #{appCode},
              </if>
              <if test="appId != null">
                 #{appId},
              </if>
              <if test="globalType != null">
                 #{globalType},
              </if>
              <if test="desc != null">
                 #{desc},
              </if>
              <if test="createTime != null">
                 #{createTime},
              </if>
              <if test="updateTime != null">
                 #{updateTime},
              </if>
        </trim>
    </insert>
    <insert id="insertBatch"  >
        INSERT INTO a_app_white_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    `status`,
                    `app_code`,
                    `app_id`,
                    `global_type`,
                    `desc`,
                    `create_time`,
                    `update_time`,
        </trim>
         values
        <foreach collection="list" item="item" index="index" separator=",">
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    #{item.status},
                    #{item.appCode},
                    #{item.appId},
                    #{item.globalType},
                    #{item.desc},
                    #{item.createTime},
                    #{item.updateTime},
            </trim>
        </foreach>
    </insert>
    <insert id="insertOrUpdate"  >
        INSERT INTO a_app_white_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="status != null">
                    `status`,
                </if>
                <if test="appCode != null">
                    `app_code`,
                </if>
                <if test="appId != null">
                    `app_id`,
                </if>
                <if test="globalType != null">
                    `global_type`,
                </if>
                <if test="desc != null">
                    `desc`,
                </if>
                <if test="createTime != null">
                    `create_time`,
                </if>
                <if test="updateTime != null">
                    `update_time`,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="status != null">
                    #{status},
                </if>
                <if test="appCode != null">
                    #{app_code},
                </if>
                <if test="appId != null">
                    #{app_id},
                </if>
                <if test="globalType != null">
                    #{global_type},
                </if>
                <if test="desc != null">
                    #{desc},
                </if>
                <if test="createTime != null">
                    #{create_time},
                </if>
                <if test="updateTime != null">
                    #{update_time},
                </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <set>
                <if test="status != null">
                    `status` = #{status},
                </if>
                <if test="appCode != null">
                    `app_code` = #{appCode},
                </if>
                <if test="appId != null">
                    `app_id` = #{appId},
                </if>
                <if test="globalType != null">
                    `global_type` = #{globalType},
                </if>
                <if test="desc != null">
                    `desc` = #{desc},
                </if>
                <if test="createTime != null">
                    `create_time` = #{createTime},
                </if>
                <if test="updateTime != null">
                    `update_time` = #{updateTime},
                </if>
        </set>
    </insert>
    <update id="updateByPrimaryKeySelective"  useGeneratedKeys="true">
        update a_app_white_list
        <set>
            <if test="status != null" >
                 `status` = #{status},
            </if>
            <if test="appCode != null" >
                 `app_code` = #{appCode},
            </if>
            <if test="appId != null" >
                 `app_id` = #{appId},
            </if>
            <if test="globalType != null" >
                 `global_type` = #{globalType},
            </if>
            <if test="desc != null" >
                 `desc` = #{desc},
            </if>
            <if test="createTime != null" >
                 `create_time` = #{createTime},
            </if>
            <if test="updateTime != null" >
                 `update_time` = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>