<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zomyun.erp.boss.auth.mapper.AuthUserMapper">
    <resultMap id="BaseResultMap" type="com.zomyun.erp.boss.auth.entity.AuthUserEntity">
            <result column="id" jdbcType="INTEGER" property="id" />
            <result column="user_id" jdbcType="BIGINT" property="userId" />
            <result column="appsource_id" jdbcType="VARCHAR" property="appsourceId" />
            <result column="status" jdbcType="BIT" property="status" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
     `id`,`user_id`,`appsource_id`,`status`,`create_time`,`update_time`
    </sql>

    <sql id="limit">
        <if test='offset != 0 and limit != 0'>
            limit #{offset}, #{limit}
        </if>

        <if test='offset == 0 and limit != 0'>
            limit #{limit}
        </if>
    </sql>

    <sql id="queryWhere">
        <where>
              <if test="id != null">
                  and `id` = #{id}
              </if>
              <if test="userId != null">
                  and `user_id` = #{userId}
              </if>
              <if test="appsourceId != null">
                  and `appsource_id` = #{appsourceId}
              </if>
              <if test="status != null">
                  and `status` = #{status}
              </if>
        </where>
    </sql>

    <select id="selectByParam" parameterType="com.zomyun.erp.boss.auth.param.AuthUserParam" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from a_user
        <include refid="queryWhere" />
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="orderByClause == null">
            order by id desc
        </if>
        <include refid="limit" />
    </select>

    <select id="countByParam" resultType="java.lang.Long">
        SELECT count(*)
        from a_user
        <include refid="queryWhere"/>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from a_user
        where id = #{id}
    </select>
    <select id="selectByUserIdAndAppId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from a_user
        where `user_id` = #{userId}
        and `appsource_id` = #{appsourceId}
    </select>

    <delete id="deleteByPrimaryKey">
        delete from a_user
        where id = #{id}
    </delete>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO a_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
              <if test="userId != null">
                  `user_id`,
             </if>
              <if test="appsourceId != null">
                  `appsource_id`,
             </if>
              <if test="status != null">
                  `status`,
             </if>
              <if test="createTime != null">
                  `create_time`,
             </if>
              <if test="updateTime != null">
                  `update_time`,
             </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
              <if test="userId != null">
                 #{userId},
              </if>
              <if test="appsourceId != null">
                 #{appsourceId},
              </if>
              <if test="status != null">
                 #{status},
              </if>
              <if test="createTime != null">
                 #{createTime},
              </if>
              <if test="updateTime != null">
                 #{updateTime},
              </if>
        </trim>
    </insert>
    <insert id="insertBatch"  >
        INSERT INTO a_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    `user_id`,
                    `appsource_id`,
                    `status`,
                    `create_time`,
                    `update_time`,
        </trim>
         values
        <foreach collection="list" item="item" index="index" separator=",">
        <trim prefix="(" suffix=")" suffixOverrides=",">
                    #{item.userId},
                    #{item.appsourceId},
                    #{item.status},
                    #{item.createTime},
                    #{item.updateTime},
            </trim>
        </foreach>
    </insert>
    <insert id="insertOrUpdate"  >
        INSERT INTO a_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userId != null">
                    `user_id`,
                </if>
                <if test="appsourceId != null">
                    `appsource_id`,
                </if>
                <if test="status != null">
                    `status`,
                </if>
                <if test="createTime != null">
                    `create_time`,
                </if>
                <if test="updateTime != null">
                    `update_time`,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userId != null">
                    #{user_id},
                </if>
                <if test="appsourceId != null">
                    #{appsource_id},
                </if>
                <if test="status != null">
                    #{status},
                </if>
                <if test="createTime != null">
                    #{create_time},
                </if>
                <if test="updateTime != null">
                    #{update_time},
                </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <set>
                <if test="userId != null">
                    `user_id` = #{userId},
                </if>
                <if test="appsourceId != null">
                    `appsource_id` = #{appsourceId},
                </if>
                <if test="status != null">
                    `status` = #{status},
                </if>
                <if test="createTime != null">
                    `create_time` = #{createTime},
                </if>
                <if test="updateTime != null">
                    `update_time` = #{updateTime},
                </if>
        </set>
    </insert>
    <update id="updateByPrimaryKeySelective"  useGeneratedKeys="true">
        update a_user
        <set>
            <if test="userId != null" >
                 `user_id` = #{userId},
            </if>
            <if test="appsourceId != null" >
                 `appsource_id` = #{appsourceId},
            </if>
            <if test="status != null" >
                 `status` = #{status},
            </if>
            <if test="createTime != null" >
                 `create_time` = #{createTime},
            </if>
            <if test="updateTime != null" >
                 `update_time` = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>